@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
	overflow-y: scroll;
}

main.full-h-layout {
	min-height: calc(100vh - 8rem);
	@apply w-full max-w-5xl;
}

@layer components {
	.movies-swiper {
		@apply h-min w-full border-y-1 border-mn-green-3;
		.swiper-wrapper {
			@apply h-min py-3;

			.swiper-slide {
				@apply h-min w-min;
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			@apply top-0 mt-3 w-10 bg-black bg-opacity-20 text-white transition-all duration-200;
			height: calc(100% - 1.5rem);
		}

		.swiper-button-prev {
			left: 0;
		}

		.swiper-button-next {
			right: 0;
		}

		&&:hover {
			.swiper-button-prev,
			.swiper-button-next {
				@apply bg-opacity-80;
			}
		}
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
